.nav_logo{
width: 100px;
object-fit: contain;
}

.nav{
    position: fixed;
    z-index: 3;
    padding: 20px;
    top: 0;
    display: flex;
    justify-content: space-between;
    transition: all 0.5s;
    transition-timing-function: ease-in;
    width: 100%;

}
.nav_black{
    background-color: #111;
    height: 80px;
    opacity: 0.8;
}
.nav_avatar{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}